.signupWidth{
    width: 50%;
    margin: 0 auto;
  }
  
  /* body{
      margin-left: 0;
      margin-right: 0;
      padding: 0;
  } */

  body {
    background: #1b1b1b;
    background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
    padding: 0 16px;
  }